<template>
    <article class="maintenance-block">
        <img class="hs-maintenance-logo" src="PDP1.png" alt="">
        <div>
            <h1>Habbo Space ist jetzt nicht verfügbar</h1>
            <p>
                Wir werden schnell hier sein ! <br>
                Ihr könnt uns treffen :
            </p>
        </div>
        <div class="maintenance-social">
            <a class="social-icons" id="facebook-logo" href="https://facebook.com/HabboSpaceFR" target="_blank" rel="nofollow"
            title="Habbo space's Facebook page">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.97 96.12">
                    <title>Facebook logo</title>
                    <g id="facebook">
                        <path class="cls-1"
                            d="M50,0,37.55,0c-14,0-23.06,9.28-23.06,23.66v10.9H2a2,2,0,0,0-2,2V52.33a2,2,0,0,0,2,2H14.49V94.16a2,2,0,0,0,2,2H32.8a2,2,0,0,0,2-2V54.29H49.42a2,2,0,0,0,2-2V36.52a1.94,1.94,0,0,0-.57-1.38,2,2,0,0,0-1.39-.58H34.76V25.32c0-4.45,1.06-6.7,6.85-6.7H50a2,2,0,0,0,2-2V2A2,2,0,0,0,50,0Z"></path>
                    </g>
                </svg>
            </a>
            <a class="social-icons" id="discord-logo" href="https://discord.gg/9fNYqQF" target="_blank" rel="nofollow"
            title="Habbo space's Discord server">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175 200">
                    <title>Discord logo</title>
                    <g id="discord">
                        <path class="cls-1"
                            d="M69.4,83.9c-5.7,0-10.2,5-10.2,11.1s4.6,11.1,10.2,11.1,10.2-5,10.2-11.1S75.1,83.9,69.4,83.9Zm36.5,0c-5.7,0-10.2,5-10.2,11.1s4.6,11.1,10.2,11.1,10.2-5,10.2-11.1S111.6,83.9,105.9,83.9Z"></path>
                        <path class="cls-1"
                            d="M154.5,0H20.5A20.55,20.55,0,0,0,0,20.6V155.8a20.55,20.55,0,0,0,20.5,20.6H133.9l-5.3-18.5,12.8,11.9L153.5,181,175,200V20.6A20.55,20.55,0,0,0,154.5,0ZM115.9,130.6s-3.6-4.3-6.6-8.1c13.1-3.7,18.1-11.9,18.1-11.9a57.22,57.22,0,0,1-11.5,5.9,65.82,65.82,0,0,1-14.5,4.3,70.05,70.05,0,0,1-25.9-.1,83.94,83.94,0,0,1-14.7-4.3,58.6,58.6,0,0,1-7.3-3.4c-.3-.2-.6-.3-.9-.5a1.38,1.38,0,0,1-.4-.3c-1.8-1-2.8-1.7-2.8-1.7s4.8,8,17.5,11.8c-3,3.8-6.7,8.3-6.7,8.3-22.1-.7-30.5-15.2-30.5-15.2,0-32.2,14.4-58.3,14.4-58.3C58.5,46.3,72.2,46.6,72.2,46.6l1,1.2C55.2,53,46.9,60.9,46.9,60.9s2.2-1.2,5.9-2.9a75.1,75.1,0,0,1,22.7-6.3,9.85,9.85,0,0,1,1.7-.2,84.61,84.61,0,0,1,20.2-.2,81.52,81.52,0,0,1,30.1,9.6s-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3,28.1,10.5c0,0,14.4,26.1,14.4,58.3C146.5,115.4,138,129.9,115.9,130.6Z"></path>
                    </g>
                </svg>
            </a>
        </div>
    </article>
</template>

<script>
export default {
    data() {
        return {

        }
    },

    mounted() {
        document.title = 'Habbo Space ist nicht jetzt verfügbar'
    }
}
</script>
