$header-color: #015B88;
$text-color: #0073AC;
$bg-color: #F5FBFC;

body {
  background-color: $bg-color;
  min-height: 500px;
  height: 100vh;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;

  @media screen and (max-width: 970px) {
    text-align: center;
    height: 100%;
  }


  .maintenance-background {
    display: block;
    position: fixed;
    width: 975px;
    right: -275px;
    top: -60px;
    transform: rotate(-45deg);
    padding: 5px;

    @media screen and (max-width: 970px) {
      display: none;
    }
  }

  .maintenance-mobile-illustration {
    display: none;

    @media screen and (max-width: 970px) and (min-width: 481px) {
      display: block;
      position: relative;
      width: 75%;
      min-width: 400px;
      top: -8vh;
      right: 10vw;
    }

    @media screen and (max-width: 360px) {
      display: block;
      position: relative;
      width: 55%;
      min-width: 300px;
      top: -10vh;
      right: 21vw;
    }
  }

  .maintenance-lang {
    text-align: left;
    padding: 5px;
    z-index: 1;
    width: fit-content;
    position: absolute;
    align-items: center;
    margin: 0;

    @media screen and (max-width: 970px) {
      position: relative;
      max-width: none;
      width: 100% !important;
      padding: 0;
      text-align: center;
      display: block;
    }

    @media screen and (max-width: 360px) {
      bottom: 20px;
    }

    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;

      & + img {
        cursor: pointer;
        width: 40px;
        height: auto;
        opacity: 0.6;
        position: relative;

        @media screen and (max-width: 970px) {
          width: 40px
        }
      }

      & + img:hover {
        opacity: 0.8;
      }

      &:checked + img {
        border: 2px solid $text-color;
        border-radius: 11px;
        opacity: 1;
        width: 50px;
        top: 4px;

        @media screen and (max-width: 970px) {
          width: 50px;
          top: 4px;
        }
      }
    }
  }

  .maintenance-block {
    text-align: left;
    padding: 20px;
    z-index: 1;
    width: fit-content;
    position: absolute;
    align-items: center;
    left: calc(2 * (100% / 12 - 1.5%));
    margin: 0;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 1251px) {
      max-width: 420px;
    }

    @media screen and (max-width: 1250px) {
      max-width: 420px;
      left: calc(2 * (100% / 12 - 9%));
      margin-left: 20px;
    }

    @media screen and (max-width: 970px) {
      position: relative;
      max-width: none;
      width: 100% !important;
      padding: 0;
      text-align: center;
      display: block;
      top: 25vh;
      margin: 0 0 20vh;
    }

    @media screen and (max-width: 970px) {
      position: relative;
      max-width: none;
      width: 100% !important;
      padding: 0;
      text-align: center;
      display: block;
      top: 45vh;
      margin: 0 0 20vh;
    }

    .hs-maintenance-logo {
      width: 325px;

      @media screen and (max-width: 970px) {
        width: 90%;
      }
    }

    h1 {
      color: $header-color;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 25px;
    }

    p {
      color: $text-color;
      margin-top: 25px;
    }

    .maintenance-social {
      margin-top: 25px;

      a.social-icons {
        text-decoration: none;
        margin: 0 5px;
        display: inline-block;
        width: 60px;
        height: 60px;

        svg {
          width: 60px;
          height: 60px;

          g path {
            transition-property: fill;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
            fill: $text-color;
          }
        }

        &:hover svg g path {
          fill: $header-color;
        }
      }
    }
  }
}


svg {
  @keyframes fly {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(0, 25px, 0);
    }
  }
  @keyframes stars {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(0, -7.5px, 0);
    }
  }
  @keyframes stars2 {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(0, -4.5px, 0);
    }
  }
  @keyframes planets {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(0, -17.5px, 0);
    }
  }


  #rocket {
    animation-name: fly;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 1;
  }

  #stars {
    animation-name: stars;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  #stars2 {
    animation-name: stars2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  #planet1, #planet2, #planet3, #planet4 {
    animation-name: planets;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}